<ul class="{% if include.first != true %}subnav{% endif %}">
  {% if include.first == true %}
  <li>
    <a href="{{ site.baseurl }}">Home</a>
  </li>
  {% endif %} {% for item in include.items %}
  <li>
    {% if item.website %}
    <a href="{{ item.website }} " target="_blank"
      >{{ item.title }}
      <img src="{{ item.baseurl }}/assets/images/external-link.svg"
    /></a>
    {% elsif item.path and item.items %} {{ item.title }} {% else %}
    <a
      href="{{ site.baseurl }}{{ include.parent | append: '/' | append: item.path }}"
      >{{ item.title }}</a
    >
    {% endif %} {% if item.items %} {% assign items = item.items %} {% assign
    parent = include.parent | append: '/' | append: item.path %} {% include
    navigation.html items=items parent=parent %} {% endif %}
  </li>
  {% endfor %}
</ul>
