$background-color: #404040;
$symbols-color: #d0d0d0;
$color1: #ed9d13;
$color2: #3677a9;
$builtin-color: #1cac78;
$function-color: #febe10;
$variable-color: #03c03c;

.highlight {
  margin: 12px 0;
  color: #dbdbdb;
  border-radius: 6px;
  pre {
    background-color: $background-color;
    padding: 12px 24px;
    white-space: pre-wrap;
  }
  .hll {
    background-color: $background-color;
  }
  .cd {
    color: #999999;
    font-style: italic;
  } /* Comment */
  .err {
    color: #a61717;
    background-color: #e3d2d2;
  } /* Error */
  .g {
    color: $symbols-color;
  } /* Generic */
  .k {
    color: $builtin-color;
    font-weight: bold;
  } /* Keyword */
  .l {
    color: $symbols-color;
  } /* Literal */
  .n {
    color: $symbols-color;
  } /* Name */
  .o {
    color: $symbols-color;
  } /* Operator */
  .x {
    color: $symbols-color;
  } /* Other */
  .p {
    color: $symbols-color;
  } /* Punctuation */
  .cm {
    color: #999999;
    font-style: italic;
  } /* Comment.Multiline */
  .cp {
    color: #cd2828;
    font-weight: bold;
  } /* Comment.Preproc */
  .c1 {
    color: #999999;
    font-style: italic;
  } /* Comment.Single */
  .cs {
    color: #e50808;
    font-weight: bold;
    background-color: #520000;
  } /* Comment.Special */
  .gd {
    color: #d22323;
  } /* Generic.Deleted */
  .ge {
    color: $symbols-color;
    font-style: italic;
  } /* Generic.Emph */
  .gr {
    color: #d22323;
  } /* Generic.Error */
  .gh {
    color: #ffffff;
    font-weight: bold;
  } /* Generic.Heading */
  .gi {
    color: #589819;
  } /* Generic.Inserted */
  .go {
    color: #cccccc;
  } /* Generic.Output */
  .gp {
    color: #aaaaaa;
  } /* Generic.Prompt */
  .gs {
    color: $symbols-color;
    font-weight: bold;
  } /* Generic.Strong */
  .gu {
    color: #ffffff;
    text-decoration: underline;
  } /* Generic.Subheading */
  .gt {
    color: #d22323;
  } /* Generic.Traceback */
  .kc {
    color: $builtin-color;
    font-weight: bold;
  } /* Keyword.Constant */
  .kd {
    color: $builtin-color;
    font-weight: bold;
  } /* Keyword.Declaration */
  .kn {
    color: $builtin-color;
    font-weight: bold;
  } /* Keyword.Namespace */
  .kp {
    color: $builtin-color;
  } /* Keyword.Pseudo */
  .kr {
    color: $builtin-color;
    font-weight: bold;
  } /* Keyword.Reserved */
  .kt {
    color: $builtin-color;
    font-weight: bold;
  } /* Keyword.Type */
  .ld {
    color: $symbols-color;
  } /* Literal.Date */
  .m {
    color: $color2;
  } /* Literal.Number */
  .s {
    color: $color1;
  } /* Literal.String */
  .na {
    color: #bbbbbb;
  } /* Name.Attribute */
  .nb {
    color: #24909d;
  } /* Name.Builtin */
  .nc {
    color: $function-color;
  } /* Name.Class */
  .no {
    color: $variable-color;
  } /* Name.Constant */
  .nd {
    color: #ffa500;
  } /* Name.Decorator */
  .ni {
    color: $symbols-color;
  } /* Name.Entity */
  .ne {
    color: #bbbbbb;
  } /* Name.Exception */
  .nf {
    color: $function-color;
  } /* Name.Function */
  .nl {
    color: $symbols-color;
  } /* Name.Label */
  .nn {
    color: $function-color;
  } /* Name.Namespace */
  .nx {
    color: $symbols-color;
  } /* Name.Other */
  .py {
    color: $symbols-color;
  } /* Name.Property */
  .nt {
    color: $builtin-color;
    font-weight: bold;
  } /* Name.Tag */
  .nv {
    color: $variable-color;
  } /* Name.Variable */
  .ow {
    color: $builtin-color;
    font-weight: bold;
  } /* Operator.Word */
  .w {
    color: #666666;
  } /* Text.Whitespace */
  .mf {
    color: $color2;
  } /* Literal.Number.Float */
  .mh {
    color: $color2;
  } /* Literal.Number.Hex */
  .mi {
    color: $color2;
  } /* Literal.Number.Integer */
  .mo {
    color: $color2;
  } /* Literal.Number.Oct */
  .sb {
    color: $color1;
  } /* Literal.String.Backtick */
  .sc {
    color: $color1;
  } /* Literal.String.Char */
  .sd {
    color: $color1;
  } /* Literal.String.Doc */
  .s2 {
    color: $color1;
  } /* Literal.String.Double */
  .se {
    color: $color1;
  } /* Literal.String.Escape */
  .sh {
    color: $color1;
  } /* Literal.String.Heredoc */
  .si {
    color: $color1;
  } /* Literal.String.Interpol */
  .sx {
    color: #ffa500;
  } /* Literal.String.Other */
  .sr {
    color: $color1;
  } /* Literal.String.Regex */
  .s1 {
    color: $color1;
  } /* Literal.String.Single */
  .ss {
    color: $color1;
  } /* Literal.String.Symbol */
  .bp {
    color: #24909d;
  } /* Name.Builtin.Pseudo */
  .vc {
    color: $variable-color;
  } /* Name.Variable.Class */
  .vg {
    color: $variable-color;
  } /* Name.Variable.Global */
  .vi {
    color: $variable-color;
  } /* Name.Variable.Instance */
  .il {
    color: $color2;
  } /* Literal.Number.Integer.Long */
}
