$base-black: #111;

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb {
  background: $base-black;
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

::-webkit-scrollbar-thumb:active {
  background: #666;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  color: $base-black;
  background-color: #f5fefd;
  overflow-wrap: break-word;
}

h1 {
  border-bottom: 1px solid $base-black;
}

@media only screen and (min-width: 768px) {
  body {
    margin: 0;
    max-height: 100vh;
    display: flex;
  }
  nav {
    margin-right: 1.5em;
    min-width: 25%;
    overflow: auto;
  }
  main {
    width: 100%;
    overflow: auto;
  }
  .boxed {
    padding: 0 1em;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
}

@media only screen and (min-width: 992px) {
  body {
    padding: 0 9em;
  }
}

code {
  padding: 1px 3px;
  background-color: $base-black;
  color: #5cfc00;
}

.highlight {
  background-color: $base-black;
  padding: 1px 3px;
}

.minimal-list-first {
  list-style: none;
  padding-left: 0;
}

.minimal-list {
  list-style: none;
  padding-left: 1em;
}
